[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION
#| ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION |

#set max_allowed_packet to 512M for loading long sequences, like maize genome
#The maximum size of one packet or any generated/intermediate string
max_allowed_packet      = 512M

#set myisam_sort_buffer_size to 2G, system default is 8M
myisam_sort_buffer_size = 2G

#The minimum length of the word to be included in a MyISAM FULLTEXT index, system default is 4
ft_min_word_len = 1

