##
## Template for System Settings
## Please remember to rename this file as "main.conf"
## for your local deployment.
##

## MySQL database params
USERNAME = YOUR-DB-USERNAME
PASSWORD = YOUR-DB-PASSWORD
DATABASE = YOUR-DB-NAME
DBHOST = localhost #YOUR DB HOST NAME

## Directories & URLs
HOSTURL = http://your.host.url

CGIBINDIR = /var/www/cgi-bin
CGIBIN = /cgi-bin
HTMLDIR = /var/www/html
HTDOCS =  # leave blank for root directory

DATADIR = /var/www/html/data
TMPDIR = /var/www/html/data/tmp
TMPURL = /data/tmp
JOBDIR = /var/www/html/data/jobs

VECTOR = /var/www/html/data/pAGIBAC1_HindIII.txt
VECTORLENGTH = 7522

POLISHED =  #leave blank to use getstore instead of saved file
POLISHEDURL = #give a relative path value if POLISHED is not 0
